<?xml version="1.0" ?>

<!--
 ~ Copyright Deep BI, Inc., San Francisco, CA - All Rights Reserved
 ~ Do not distribute or use without prior consent.
-->

<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">
  <module name="Header">
    <property name="headerFile" value="codestyle/LICENSE.txt"/>
    <property name="fileExtensions" value="java"/>
  </module>

  <module name="NewlineAtEndOfFile"/>
</module>